.c-slider-card {
    display: flex;
    gap: rem(16px);
    width: 100%;
    min-height: rem(258px);
    height: auto;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    overflow-y: hidden;


    @media (min-width: $screen-sm) {
        display: grid;
        scroll-snap-type: none;
        overflow-x: auto;
        overflow-y: auto;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    }



    &::-webkit-scrollbar {
        width: rem(10px);
        height: rem(10px);
    }

    &::-webkit-scrollbar-thumb {
        background: $secondary-color;
        border-radius: rem(10px);
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }


}

.c-slider-card__item--fadeout{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.c-slider-card__item {
    flex: 0 0 100%;
    width: 100%;
    max-width: rem(400px);
    object-fit: cover;
    scroll-snap-align: center;
}