

$primary-color: #32D7B7;
$secondary-color: #A3E7DA;
$white: #ffffff;
$grey-dark: #373737;
$grey: #f3f3f3;
$black: #000000;
$error-primary-color: #FF2700;
$error-secondary-color: #FFBEB2;
$overlay: rgba($grey-dark, .28);
$primary-color-transparent: rgba($primary-color, .80);