$base-font-size: 16px;
$base-font-family: "Lato";

/*------------------------------------*\
* CONTAINER
\*------------------------------------*/
$gutter: 1rem;

/*------------------------------------*\
* COLUMNS
\*------------------------------------*/
$columns-number: 12;
